@using Microsoft.AspNetCore.Identity
@using Claudia.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<form method="post" asp-controller="account" asp-action="logout">
    
    <ul class="right">
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a asp-area="" class="circle" asp-controller="manage" asp-action="index" title="Manage">
                    <i class="material-icons">
                        account_circle
                    </i></a>
            </li>
            <li>
                <button type="submit" class="waves-effect waves-teal btn-flat">Log out</button>
            </li>

        }
        else
        {
            <li><a asp-area="" class="navlink" asp-controller="account" asp-action="login" asp-route-returnUrl="/home">Log in</a></li>
        }
    </ul>
</form>