@model Claudia.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="d-flex align-items-center text-center align-content-center row row-margins">
    <h2>@ViewData["Title"]</h2>
    <div class="col-md-4 col-centered">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
