This platform belongs to University of Technology and science in Bydgoszcz
This platform is designed for students, lecturers and people associated with UTP
Data and functions available for specyfic user are described in account type
To use this platform you need to have an account in university systems
Sending user data is encrypted