@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

    <div class="d-flex align-items-center text-center align-content-center row">
        <h1>Manage your account</h1>
        <hr />
        <div>
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div>
            @RenderBody()
        </div>
        <a class="btn-floating btn-large waves-effect waves-light red fab-position" asp-controller="video" asp-action="add"><i class="material-icons">add</i></a>
    </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
