<div id="upload_modal" class="col s12 m6" hidden>
        <h4>Wait, while the video is being uploaded...</h4>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
</div>

