@{
      ViewData["Title"] = "About";
}

<div class="row row-top">
      <h2>About</h2>
      <section>
          <h4>What is this?</h4>
          <p>This is UTP's Lectures Platform. This software is non-commercial software built by Mateusz Kotyński on bachelor degree of IT purpose.</p>
      </section>
      <section>
          <h4>How to use it?</h4>
          <p>To learn how to use it, you can watch a video. To watch any video you need to log in first. Please, ask your school's administrator for credentials.</p>
      </section>
        
      <h4>Technical information</h4>
      <ul>
            <li>OS: Debian Linux 9(kernel:4.9),</li>
            <li>ASP.NET Core 2.2 with Template Engine,</li>
            <li>Hosting by: Aruba Cloud.</li>
      </ul>
</div>
