@{
      ViewData["Title"] = "Contact";      
}

<div class="row row-top">
      <h2>Contact</h2>
      <div>
            <p>I'm Mateusz Kotyński - you can find me that way on Facebook.</p>
            <a href="mailto:mateuszkotynski@gmail.com">Email: mateuszkotynski@gmail.com</a>
      </div>
</div>
