html {
    text-justify: auto;
}

body {
    font-size: 17px !important;
    background-color: #fefefe !important;
    color: #757575 !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.footer {
    bottom: 0;
    background-color: currentColor !important;
    color: teal !important;
}


.navbar-color {
    background-color: currentColor !important;
    border-bottom-color: #eee !important;
    box-shadow: none !important;
}

nav{
    box-shadow: none !important;
}

.navlink {
    color: #FF5722 !important;
}

    .navlink:hover, .navlink:focus {
        color: #009688 !important;
        cursor: pointer;
    }


a, a:hover, a:focus {
    color: #757575 !important;
    text-decoration: none !important;
}


.btn-default {
    background-color: #009688 !important;
    border-color: #095C9E !important;
    display: block;
    width: 150px;
    transition-duration: 0.5s;
    color: #fff;
}

    .btn-default:hover, .btn-default:focus {
        background-color: #eee !important;
        border-color: #095C9E !important;
        color: #212121 !important;
        transition-duration: 0.5s;
    }

.btn-primary {
    background-color: #009688 !important;
    border-color: #009688 !important;
    display: block;
    width: 150px;
    transition-duration: 0.5s;
    color: #fff !important;
}

    .btn-primary:hover {
        background-color: #eee !important;
        border-color: #095C9E !important;
        color: #212121 !important;
        width: 150px;
        transition: background-color linear .5s;
    }

.btn-danger {
    background-color: #aa1919 !important;
    border-color: #d80f0f !important;
    display: block;
    width: 150px;
    transition-duration: 0.5s;
    color: #fff;
}

    .btn-danger:hover {
        background-color: #eee !important;
        border-color: #aa1919 !important;
        color: #aa1919 !important;
        width: 150px;
        transition: background-color linear .5s;
    }

.path-input {
    background-color: transparent !important;
    border: none;
    color: #212121;
    font-size: 23px;
    width: 95%;
}


.inside-nav-link:hover {
    color: #757575;
}

.inside-nav-link {
    color: #757575;
}


.nav-link-overflow{ width: 100%; height: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: justify; }

.path-button {
    background-color: transparent;
    padding: 0;
    color: #757575;
    text-decoration: none;
    border: none;
}

.col-margins {
    margin-left: 4%;
    margin-right: 4%;
}

.main-page-content {
    margin-top: 20%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.main-page.path-button {
    margin-bottom: 80% !important;
}

.manage-span {
    font-size: 30px !important;
    padding-top: 15px !important;
}

.option-span {
    font-size: 22px;
}


.element-margins {
    margin: 10px auto;
}

.offscreen {
    position: absolute;
    left: -99999em;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.pika-img {
    align-items: center !important;
    align-content: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.brand-margin {
    margin-left: 10px !important;
}

.tabs .tab a {
    color: #009688;
}
    /*Black color to the text*/

    .tabs .tab a:hover {
        background-color: #eee;
        color: #009688;
    }
    /*Text color on hover*/

    .tabs .tab a.active {
        background-color: #888;
        color: #009688;
    }
/*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #009688;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.filelbl, .filelbl:hover {
    width: auto;
}

.wrap{
    color: #009688;
    font-size: 24px;
}

.own-sidenav{
    box-shadow: none!important;
    border-right: 1px solid !important;
    border-color: teal !important;
}


.logo-position{
    margin-top: 20px !important;
    text-align: left;
    color: teal;
}

.row-top{
    margin-top: 10px !important;
}

.danger{
    color: #aa1919;
}

.fab-position{
    position: fixed !important;
    right: 30px;
    bottom: 45px;
}

.thumbtxt {
    z-index: 100;
    color: #555;
    font-weight: bold;
}

.video-margin{
    margin-left: 50px !important;
}

.next-videos-margin{
    margin-left: 5px !important;
}
