
@{
    ViewData["Title"] = "Generating password";
    var newPasswd =  @TempData["newPassword"];
}
@if (newPasswd != null)
{
<div class="row">
    <div class="col s6 m6">
        <label for="newPasswordField">New password: </label>
        <input class="form-control" value=@newPasswd id="newPasswordField" />
    </div>
    <div class="col s6 m6">
        <button class="btn-flat" id="copyButton" onclick="copyToClipboard('newPasswordField'); hideDownloadPartial();" type="button"><i class="fas fa-copy"></i></button>
    </div>
</div>
}
