@model User
@{ 
    ViewData["Title"] = "Delete user "+Model.UserName;
}
<div class="d-flex align-items-center text-center align-content-center flex-wrap row">
        <h3>Delete user @Model.Email</h3>
        <form asp-controller="Manage" asp-action="DeleteUserConfirmation" asp-route-id=@Model.Id method="post">
            <div class="form-group">
                <label asp-for="Email" />
                <span>
                    <button class="btn btn-danger">Delete</button>
                    <a asp-controller="manage" asp-action="adminpanel" class="btn btn-primary">Cancel</a>
                </span>
            </div>
        </form>
</div>


